%hr/
%h3{style:'color:orange;text-align:center;'}banner_home.html.haml
%hr/
/ Nav and Banner
.row
  .large-12.columns
    %ul.button-group
      %li
        %a.button{:href => "#"} Link 1
      %li
        %a.button{:href => "#"} Link 2
      %li
        %a.button{:href => "#"} Link 3
      %li
        %a.button{:href => "#"} Link 4
      %li
        %a.button{:href => "#"} Link 5
      %li
        %a.button{:href => "#"} Link 6
      %li
        %a.button{:href => "#"} Link 7
    / Main Banner Image - place in a paragraph to enforce the modular scale spacing
    %p
      %img{:src => "http://placehold.it/1000x400&text=[banner img]"}/
/ End Nav and Banner
/ Main Content Section
.row
  .large-8.columns
    %h4 This is a content section.
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
    %p
      %a.secondary.small.button{:href => "#"} Next Page &rarr;
  .large-4.columns
    / Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results
    %ul.small-block-grid-3
      %li
        %a{:href => "#"}
          %img{:src => "http://placehold.it/120x120"}/
      %li
        %a{:href => "#"}
          %img{:src => "http://placehold.it/120x120"}/
      %li
        %a{:href => "#"}
          %img{:src => "http://placehold.it/120x120"}/
      %li
        %a{:href => "#"}
          %img{:src => "http://placehold.it/120x120"}/
      %li
        %a{:href => "#"}
          %img{:src => "http://placehold.it/120x120"}/
      %li
        %a{:href => "#"}
          %img{:src => "http://placehold.it/120x120"}/
/ Call to Action Panel
.row
  .large-12.columns
    .panel
      %h4 Get in touch!
      .row
        .large-9.columns
          %p We'd love to hear from you, you attractive person you.
        .large-3.columns
          %a.radius.button.right{:href => "#"} Contact Us
/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p &copy; Copyright no one at all. Go to town.
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 3
          %li
            %a{:href => "#"} Link 4
          %li
            %a{:href => "#"} Link 5
          %li
            %a{:href => "#"} Link 6
          %li
            %a{:href => "#"} Link 7
%hr/
%h3{style:'color:orange;text-align:center;'}blog.html.haml
%hr/
/ Nav Bar
.row
  .large-12.columns
    .nav-bar.right
      %ul.button-group
        %li
          %a.button{:href => "#"} Link 1
        %li
          %a.button{:href => "#"} Link 2
        %li
          %a.button{:href => "#"} Link 3
        %li
          %a.button{:href => "#"} Link 4
    %h1
      Blog
      %small This is my blog. It's awesome.
    %hr/
/ End Nav
/ Main Page Content and Sidebar
.row
  / Main Blog Content
  .large-9.columns{:role => "content"}
    %article
      %h3
        %a{:href => "#"} Blog Post Title
      %h6
        Written by
        %a{:href => "#"} John Smith
        on August 12, 2012.
      .row
        .large-6.columns
          %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.
          %p Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
        .large-6.columns
          %img{:src => "http://placehold.it/400x240&text=[img]"}/
      %p Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
      %p Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
    %hr/
    %article
      %h3
        %a{:href => "#"} Blog Post Title
      %h6
        Written by
        %a{:href => "#"} John Smith
        on August 12, 2012.
      .row
        .large-6.columns
          %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.
          %p Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
        .large-6.columns
          %img{:src => "http://placehold.it/400x240&text=[img]"}/
      %p Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
      %p Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
  / End Main Content
  / Sidebar
  %aside.large-3.columns
    %h5 Categories
    %ul.side-nav
      %li
        %a{:href => "#"} News
      %li
        %a{:href => "#"} Code
      %li
        %a{:href => "#"} Design
      %li
        %a{:href => "#"} Fun
      %li
        %a{:href => "#"} Weasels
    .panel
      %h5 Featured
      %p Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.
      %a{:href => "#"} Read More &rarr;
  / End Sidebar
/ End Main Content and Sidebar
/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p &copy; Copyright no one at all. Go to town.
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 3
          %li
            %a{:href => "#"} Link 4
%hr/
%h3{style:'color:orange;text-align:center;'}branded.html.haml
%hr/
/ Header and Nav
.row
  .large-3.columns
    %h1
      %img{:src => "http://placehold.it/400x100&text=Logo"}/
  .large-9.columns
    %ul.button-group.right
      %li
        %a.button{:href => "#"} Link 1
      %li
        %a.button{:href => "#"} Link 2
      %li
        %a.button{:href => "#"} Link 3
      %li
        %a.button{:href => "#"} Link 4
/ End Header and Nav
/ First Band (Image)
.row
  .large-12.columns
    %img{:src => "http://placehold.it/1000x400&text=[img]"}/
    %hr/
/ Second Band (Image Left with Text)
.row
  .large-4.columns
    %img{:src => "http://placehold.it/400x300&text=[img]"}/
  .large-8.columns
    %h4 This is a content section.
    .row
      .large-6.columns
        %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
      .large-6.columns
        %p Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
/ Third Band (Image Right with Text)
.row
  .large-8.columns
    %h4 This is a content section.
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
    %p Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
  .large-4.columns
    %img{:src => "http://placehold.it/400x300&text=[img]"}/
/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p &copy; Copyright no one at all. Go to town.
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 3
          %li
            %a{:href => "#"} Link 4
%hr/
%h3{style:'color:orange;text-align:center;'}contact.html.haml
%hr/
%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{:href => "#"}
          Top Bar Title
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span menu
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li.divider
      %li.has-dropdown
        %a{:href => "#"} Main Item 1
        %ul.dropdown
          %li
            %label Section Name
          %li.has-dropdown
            %a{:href => "#"} Has Dropdown, Level 1
            %ul.dropdown
              %li
                %a{:href => "#"} Dropdown Options
              %li
                %a{:href => "#"} Dropdown Options
              %li
                %a{:href => "#"} Level 2
              %li
                %a{:href => "#"} Subdropdown Option
              %li
                %a{:href => "#"} Subdropdown Option
              %li
                %a{:href => "#"} Subdropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %label Section Name
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %a{:href => "#"} See all &rarr;
      %li.divider
      %li
        %a{:href => "#"} Main Item 2
      %li.divider
      %li.has-dropdown
        %a{:href => "#"} Main Item 3
        %ul.dropdown
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %a{:href => "#"} See all &rarr;
/ End Top Bar
/ Main Page Content and Sidebar
.row
  / Contact Details
  .large-9.columns
    %h3 Get in Touch!
    %p
      We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day
      = succeed "." do
        %em all day
    .section-container.tabs{"data-section" => ""}
      %section.section
        %h5.title
          %a{:href => "#panel1"} Contact Our Company
        .content{"data-slug" => "panel1"}
          %form
            .row.collapse
              .large-2.columns
                %label.inline Your Name
              .large-10.columns
                %input#yourName{:placeholder => "Jane Smith", :type => "text"}/
            .row.collapse
              .large-2.columns
                %label.inline Your Email
              .large-10.columns
                %input#yourEmail{:placeholder => "jane@smithco.com", :type => "text"}/
            %label What's up?
            %textarea{:rows => "4"}
            %button.radius.button{:type => "submit"} Submit
      %section.section
        %h5.title
          %a{:href => "#panel2"} Specific Person
        .content{"data-slug" => "panel2"}
          %ul.large-block-grid-5
            %li
              %a{:href => "mailto:mal@serenity.bc.reb"}
                %img{:src => "http://placehold.it/200x200&amp;text=[person]"}>/
                Mal Reynolds
            %li
              %a{:href => "mailto:zoe@serenity.bc.reb"}
                %img{:src => "http://placehold.it/200x200&amp;text=[person]"}>/
                Zoe Washburne
            %li
              %a{:href => "mailto:jayne@serenity.bc.reb"}
                %img{:src => "http://placehold.it/200x200&amp;text=[person]"}>/
                Jayne Cobb
            %li
              %a{:href => "mailto:doc@serenity.bc.reb"}
                %img{:src => "http://placehold.it/200x200&amp;text=[person]"}>/
                Simon Tam
            %li
              %a{:href => "mailto:killyouwithmymind@serenity.bc.reb"}
                %img{:src => "http://placehold.it/200x200&amp;text=[person]"}>/
                River Tam
            %li
              %a{:href => "mailto:leafonthewind@serenity.bc.reb"}
                %img{:src => "http://placehold.it/200x200&amp;text=[person]"}>/
                Hoban Washburne
            %li
              %a{:href => "mailto:book@serenity.bc.reb"}
                %img{:src => "http://placehold.it/200x200&amp;text=[person]"}>/
                Shepherd Book
            %li
              %a{:href => "mailto:klee@serenity.bc.reb"}
                %img{:src => "http://placehold.it/200x200&amp;text=[person]"}>/
                Kaywinnet Lee Fry
            %li
              %a{:href => "mailto:inara@guild.comp.all"}
                %img{:src => "http://placehold.it/200x200&amp;text=[person]"}>/
                Inarra Serra
  / End Contact Details
  / Sidebar
  .large-3.columns
    %h5 Map
    / Clicking this placeholder fires the mapModal Reveal modal
    %p
      %a{"data-reveal-id" => "mapModal", :href => ""}
        %img{:src => "http://placehold.it/400x280"}/
      %br/
      %a{"data-reveal-id" => "mapModal", :href => ""} View Map
    %p
      123 Awesome St.
      %br/
      Barsoom, MA 95155
  / End Sidebar
/ End Main Content and Sidebar
/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p &copy; Copyright no one at all. Go to town.
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 3
          %li
            %a{:href => "#"} Link 4
/ End Footer
/ Map Modal
#mapModal.reveal-modal
  %h4 Where We Are
  %p
    %img{:src => "http://placehold.it/800x600"}/
  / Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden.
  %a.close-reveal-modal{:href => "#"} &times;
%hr/
%h3{style:'color:orange;text-align:center;'}feed.html.haml
%hr/
/ Header and Nav
.row
  .large-12.columns
    .panel
      %h1 Feed Template
/ End Header and Nav
.row
  / Nav Sidebar
  / This is source ordered to be pulled to the left on larger screens
  .large-3.columns
    .panel
      %a{:href => "#"}
        %img{:src => "http://placehold.it/300x240&text=[img]"}/
      %h5
        %a{:href => "#"} Your Name
      .section-container.vertical-nav{"data-options" => "deep_linking: false; one_up: true", "data-section" => ""}
        %section.section
          %h5.title
            %a{:href => "#"} Section 1
        %section.section
          %h5.title
            %a{:href => "#"} Section 2
        %section.section
          %h5.title
            %a{:href => "#"} Section 3
        %section.section
          %h5.title
            %a{:href => "#"} Section 4
        %section.section
          %h5.title
            %a{:href => "#"} Section 5
        %section.section
          %h5.title
            %a{:href => "#"} Section 6
  / Main Feed
  / This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens
  .large-6.columns
    / Feed Entry
    .row
      .large-2.columns.small-3
        %img{:src => "http://placehold.it/80x80&text=[img]"}/
      .large-10.columns
        %p
          %strong Some Person said:
          Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
        %ul.inline-list
          %li
            %a{:href => ""} Reply
          %li
            %a{:href => ""} Share
        %h6 2 Comments
        .row
          .large-2.columns.small-3
            %img{:src => "http://placehold.it/50x50&text=[img]"}/
          .large-10.columns
            %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
        .row
          .large-2.columns.small-3
            %img{:src => "http://placehold.it/50x50&text=[img]"}/
          .large-10.columns
            %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
    / End Feed Entry
    %hr/
    / Feed Entry
    .row
      .large-2.columns.small-3
        %img{:src => "http://placehold.it/80x80&text=[img]"}/
      .large-10.columns
        %p
          %strong Some Person said:
          Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
        %ul.inline-list
          %li
            %a{:href => ""} Reply
          %li
            %a{:href => ""} Share
    / End Feed Entry
    %hr/
    / Feed Entry
    .row
      .large-2.columns.small-3
        %img{:src => "http://placehold.it/80x80&text=[img]"}/
      .large-10.columns
        %p
          %strong Some Person said:
          Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
        %ul.inline-list
          %li
            %a{:href => ""} Reply
          %li
            %a{:href => ""} Share
        %h6 2 Comments
        .row
          .large-2.columns.small-3
            %img{:src => "http://placehold.it/50x50&text=[img]"}/
          .large-10.columns
            %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
    / End Feed Entry
  / Right Sidebar
  / On small devices this column is hidden
  %aside.large-3.columns.hide-for-small
    %p
      %img{:src => "http://placehold.it/300x440&text=[ad]"}/
    %p
      %img{:src => "http://placehold.it/300x440&text=[ad]"}/
/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-5.columns
        %p &copy; Copyright no one at all. Go to town.
      .large-7.columns
        %ul.inline-list.right
          %li
            %a{:href => "#"} Section 1
          %li
            %a{:href => "#"} Section 2
          %li
            %a{:href => "#"} Section 3
          %li
            %a{:href => "#"} Section 4
          %li
            %a{:href => "#"} Section 5
          %li
            %a{:href => "#"} Section 6
%hr/
%h3{style:'color:orange;text-align:center;'}grid.html.haml
%hr/
/ Header and Nav
%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{:href => "#"}
          Top Bar Title
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      %li.divider
      %li.has-dropdown
        %a.active{:href => "#"} Main Item 1
        %ul.dropdown
          %li
            %label Section Name
          %li
            %a{:href => "#"} Dropdown Level 1
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %label Section Name
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %a{:href => "#"} See all &rarr;
      %li.divider
      %li
        %a{:href => "#"} Main Item 2
      %li.divider
      %li.has-dropdown
        %a{:href => "#"} Main Item 3
        %ul.dropdown
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %a{:href => "#"} See all &rarr;
    / Right Nav Section
    %ul.right
      %li.divider
      %li.has-dropdown
        %a{:href => "#"} Main Item 4
        %ul.dropdown
          %li
            %label Section Name
          %li.has-dropdown
            %a{:href => "#"} Has Dropdown, Level 1
            %ul.dropdown
              %li
                %a{:href => "#"} Dropdown Options
              %li
                %a{:href => "#"} Dropdown Options
              %li.has-dropdown
                %a{:href => "#"} Has Dropdown, Level 2
                %ul.dropdown.test
                  %li
                    %a{:href => "#"} Subdropdown Option
                  %li
                    %a{:href => "#"} Subdropdown Option
                  %li
                    %a{:href => "#"} Subdropdown Option
              %li
                %a{:href => "#"} Subdropdown Option
              %li
                %a{:href => "#"} Subdropdown Option
              %li
                %a{:href => "#"} Subdropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %label Section Name
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %a{:href => "#"} See all &rarr;
      %li.divider
      %li
        %a{:href => "#"} Main Item 5
      %li.divider
      %li.has-dropdown
        %a{:href => "#"} Main Item 6
        %ul.dropdown
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %a{:href => "#"} See all &rarr;
/ End Header and Nav
/ Main Grid Section
.row
  .large-3.columns
    .panel
      %h5 Panel Title
      %p This is a three columns grid panel with an arbitrary height.
  .large-6.columns
    .panel
      %h5 Panel Title
      %p This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
  .large-3.columns
    .panel
      %h5 Panel Title
      %p This is a three columns grid panel with an arbitrary height.
.row
  .large-6.columns
    .panel
      %h5 Panel Title
      %p This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
  .large-2.columns
    .panel
      %p
        %img{:src => "http://placehold.it/200x200"}/
  .large-4.columns
    .panel
      %h5 Panel Title
      %p This is a four columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami.
.row
  .large-4.columns
    .panel
      %p
        %img{:src => "http://placehold.it/400x300"}/
  .large-4.columns
    .panel
      %p
        %img{:src => "http://placehold.it/400x300"}/
  .large-4.columns
    .panel
      %p
        %img{:src => "http://placehold.it/400x300"}/
.row
  .large-6.columns
    .panel
      %h5 Panel Title
      %p This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
  .large-3.columns
    .panel
      %h5 Panel Title
      %p This is a three columns grid panel with an arbitrary height.
  .large-3.columns
    .panel
      %h5 Panel Title
      %p This is a three columns grid panel with an arbitrary height.
/ End Grid Section
/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p &copy; Copyright no one at all. Go to town.
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{:href => "#"} Section 1
          %li
            %a{:href => "#"} Section 2
          %li
            %a{:href => "#"} Section 3
          %li
            %a{:href => "#"} Section 4
%hr/
%h3{style:'color:orange;text-align:center;'}marketing.html.haml
%hr/
/ Navigation
%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{:href => "#"}
          Top Bar Title
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span menu
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li.divider
      %li.has-dropdown
        %a{:href => "#"} Main Item 1
        %ul.dropdown
          %li
            %label Section Name
          %li.has-dropdown
            %a{:href => "#"} Has Dropdown, Level 1
            %ul.dropdown
              %li
                %a{:href => "#"} Dropdown Options
              %li
                %a{:href => "#"} Dropdown Options
              %li
                %a{:href => "#"} Level 2
              %li
                %a{:href => "#"} Subdropdown Option
              %li
                %a{:href => "#"} Subdropdown Option
              %li
                %a{:href => "#"} Subdropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %label Section Name
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %a{:href => "#"} See all &rarr;
      %li.divider
      %li
        %a{:href => "#"} Main Item 2
      %li.divider
      %li.has-dropdown
        %a{:href => "#"} Main Item 3
        %ul.dropdown
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %a{:href => "#"} See all &rarr;
/ End Top Bar
.row
  .large-12.columns
    / Content Slider
    .row
      .large-12.hide-for-small
        #featured
          %img{:alt => "slide image", :src => "http://placehold.it/1200x500&text=Slide Image"}/
          /
            <img src="http://placehold.it/1200x500&amp;text=Slide Image" alt="slide image">
            <img src="http://placehold.it/1200x500&amp;text=Slide Image" alt="slide image">
    / End Content Slider
    / Mobile Header
    .row
      .large-12.columns.show-for-small
        %img{:src => "http://placehold.it/1200x700&text=Mobile Header"}/
    %br/
    / End Mobile Header
    .row
      .large-12.columns
        .row
          / Shows
          .large-4.small-6.columns
            %h4 Upcoming Shows
            %hr/
            .row
              .large-1.column
                %img{:src => "http://placehold.it/50x50&amp;text=[img]"}/
              .large-9.columns
                %h5
                  %a{:href => "#"} Venue Name
                %h6.subheader.show-for-small Doors at 00:00pm
            %hr/
            .hide-for-small
              .row
                .large-1.column
                  %img{:src => "http://placehold.it/50x50&amp;text=[img]"}/
                .large-9.columns
                  %h5.subheader
                    %a{:href => "#"} Venue Name
              %hr/
              .row
                .large-1.column
                  %img{:src => "http://placehold.it/50x50&amp;text=[img]"}/
                .large-9.columns
                  %h5.subheader
                    %a{:href => "#"} Venue Name
              %hr/
              .row
                .large-1.column
                  %img{:src => "http://placehold.it/50x50&amp;text=[img]"}/
                .large-9.columns
                  %h5.subheader
                    %a{:href => "#"} Venue Name
          / End Shows
          / Image
          .large-4.small-6.columns
            %img{:src => "http://placehold.it/300x465&amp;text=Image"}/
          / End Image
          / Feed
          .large-4.small-12.columns
            %h4 Blog
            %hr/
            .panel
              %h5
                %a{:href => "#"} Post Title 1
              %h6.subheader
                Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Suspendisse ultrices ornare tempor...
              %h6
                %a{:href => "#"} Read More >>
            .panel.hide-for-small
              %h5
                %a{:href => "#"} Post Title 2 >>
            .panel.hide-for-small
              %h5
                %a{:href => "#"} Post Title 3 >>
            %a.right{:href => "#"} Go To Blog >>
          / End Feed
    / End Content
    / Footer
    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-6.columns
            %p &copy; Copyright no one at all. Go to town.
          .large-6.small-12.columns
            %ul.inline-list.right
              %li
                %a{:href => "#"} Link 1
              %li
                %a{:href => "#"} Link 2
              %li
                %a{:href => "#"} Link 3
              %li
                %a{:href => "#"} Link 4
    / End Footer

%hr/
%h3{style:'color:orange;text-align:center;'}orbit_home.html.haml
%hr/
.row
  .large-3.columns
    %h1
      %img{:src => "http://placehold.it/400x100&text=Logo"}/
  .large-9.columns
    %ul.right.button-group
      %li
        %a.button{:href => "#"} Link 1
      %li
        %a.button{:href => "#"} Link 2
      %li
        %a.button{:href => "#"} Link 3
      %li
        %a.button{:href => "#"} Link 4
/ End Header and Nav
/ First Band (Slider)
.row
  .large-12.columns
    #slider
      %img{:src => "http://placehold.it/1000x400&text=[ img 1 ]"}/
    %hr/
/ Three-up Content Blocks
.row
  .large-4.columns
    %img{:src => "http://placehold.it/400x300&text=[img]"}/
    %h4 This is a content section.
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
  .large-4.columns
    %img{:src => "http://placehold.it/400x300&text=[img]"}/
    %h4 This is a content section.
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
  .large-4.columns
    %img{:src => "http://placehold.it/400x300&text=[img]"}/
    %h4 This is a content section.
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
/ Call to Action Panel
.row
  .large-12.columns
    .panel
      %h4 Get in touch!
      .row
        .large-9.columns
          %p We'd love to hear from you, you attractive person you.
        .large-3.columns
          %a.radius.button.right{:href => "#"} Contact Us
/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p &copy; Copyright no one at all. Go to town.
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 3
          %li
            %a{:href => "#"} Link 4
%hr/
%h3{style:'color:orange;text-align:center;'}realty.html.haml
%hr/
/ Navigation
%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{:href => "#"}
          Top Bar Title
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span menu
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li.divider
      %li.has-dropdown
        %a{:href => "#"} Main Item 1
        %ul.dropdown
          %li
            %label Section Name
          %li.has-dropdown
            %a{:href => "#"} Has Dropdown, Level 1
            %ul.dropdown
              %li
                %a{:href => "#"} Dropdown Options
              %li
                %a{:href => "#"} Dropdown Options
              %li
                %a{:href => "#"} Level 2
              %li
                %a{:href => "#"} Subdropdown Option
              %li
                %a{:href => "#"} Subdropdown Option
              %li
                %a{:href => "#"} Subdropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %label Section Name
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %a{:href => "#"} See all &rarr;
      %li.divider
      %li
        %a{:href => "#"} Main Item 2
      %li.divider
      %li.has-dropdown
        %a{:href => "#"} Main Item 3
        %ul.dropdown
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %a{:href => "#"} See all &rarr;
/ End Top Bar
/ Header
.row
  .large-12.columns
    %img{:src => "http://placehold.it/1600x600&text=Header"}/
    %br/
    %br/
/ End Header
.row
  .large-3.panel.columns
    %img{:src => "http://placehold.it/500x500&text=Image"}/
    %h4 Header
    %p Fusce ullamcorper mauris in eros dignissim molestie posuere felis blandit. Aliquam erat volutpat. Mauris ultricies posuere vehicula. Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.
    %hr/
    .row
      .large-4.columns
        %a.small.button{:href => "#"} Link
      .large-4.columns
        %a.small.button{:href => "#"} Link
      .large-4.columns
        %a.small.button{:href => "#"} Link
  .large-9.columns
    .panel
      .row
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}/
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}/
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}/
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}/
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}/
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}/
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}/
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}/
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}/
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}/
        .large-3.columns
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}/
        .large-3.columns.end
          %img{:src => "http://placehold.it/600x500&text=Thumbnail"}/
    .row
      .large-6.columns
        .panel
          %h5 Subheader
          %p Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.
          %a.small.button{:href => "#"} Link
      .large-6.columns
        .panel
          %h5 Subheader
          %p Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.
          %a.small.button{:href => "#"} Link
/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p &copy; Copyright no one at all. Go to town.
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 3
          %li
            %a{:href => "#"} Link 4
%hr/
%h3{style:'color:orange;text-align:center;'}sidebar.html.haml
%hr/
/ Header and Nav
.row
  .large-3.columns
    %h1
      %img{:src => "http://placehold.it/400x100&text=Logo"}/
  .large-9.columns
    %ul.inline-list.right
      %li
        %a{:href => "#"} Section 1
      %li
        %a{:href => "#"} Section 2
      %li
        %a{:href => "#"} Section 3
      %li
        %a{:href => "#"} Section 4
/ End Header and Nav
.row
  / Main Content Section
  / This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens
  .large-9.push-3.columns
    %h3
      Page Title
      %small Page subtitle
    %p Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin. Venison tail chuck pork chop, andouille ball tip beef ribs flank boudin bacon. Salami andouille pork belly short ribs flank cow. Salami sirloin turkey kielbasa. Sausage venison pork loin leberkas chuck short loin, cow ham prosciutto pastrami jowl. Ham hock jerky tri-tip, fatback hamburger shoulder swine pancetta ground round. Tri-tip prosciutto meatball turkey, brisket spare ribs shankle chuck cow chicken ham hock boudin meatloaf jowl.
    %p Ground round pastrami pork loin tenderloin jerky. Jerky spare ribs biltong, ham hock ham capicola pork. Jerky turducken pork, meatloaf sausage capicola swine corned beef turkey short loin. Tongue prosciutto pork loin, ground round spare ribs venison kielbasa strip steak.
    %p Hamburger bresaola turkey t-bone, leberkas salami pork chop ham hock beef ribs. Rump biltong meatball venison, short ribs pork loin shank shankle corned beef beef. Cow salami jowl short loin hamburger fatback. Short ribs pork belly shoulder pastrami drumstick salami corned beef ham hock bresaola. Swine filet mignon cow sausage ball tip. Cow ribeye ground round, sausage pork loin pig beef ball tip turkey boudin.
    %p Prosciutto ball tip filet mignon andouille frankfurter chicken rump sausage meatball. Filet mignon meatloaf ground round andouille ham hock pork. Bresaola short loin meatball chuck hamburger pig. Turkey venison chuck, tongue fatback tail swine jerky corned beef shank kielbasa prosciutto ribeye ham tri-tip. Rump bacon pork belly meatloaf shoulder short loin meatball kielbasa pork loin tongue bresaola brisket corned beef jowl prosciutto. Beef ribs shankle short ribs pork belly corned beef fatback pork chop tongue biltong boudin strip steak sirloin meatloaf pancetta.
  / Nav Sidebar
  / This is source ordered to be pulled to the left on larger screens
  .large-3.pull-9.columns
    %ul.side-nav
      %li
        %a{:href => "#"} Section 1
      %li
        %a{:href => "#"} Section 2
      %li
        %a{:href => "#"} Section 3
      %li
        %a{:href => "#"} Section 4
      %li
        %a{:href => "#"} Section 5
      %li
        %a{:href => "#"} Section 6
    %p
      %img{:src => "http://placehold.it/320x240&text=Ad"}/
/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p &copy; Copyright no one at all. Go to town.
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{:href => "#"} Section 1
          %li
            %a{:href => "#"} Section 2
          %li
            %a{:href => "#"} Section 3
          %li
            %a{:href => "#"} Section 4
%hr/
%h3{style:'color:orange;text-align:center;'}so_boxy.html.haml
%hr/
.row
  .large-12.columns
    / Navigation
    %ul.button-group
      %li
        %a.button{:href => "#"} Nav Item 1
      %li
        %a.button{:href => "#"} Nav Item 2
      %li
        %a.button{:href => "#"} Nav Item 3
    / End Navigation
    / Header Content
    .row
      .large-6.columns
        %img{:src => "http://placehold.it/500x500&text=Image"}/
        %br/
      .large-6.columns
        %h3.show-for-small Header
        %hr/
        .panel
          %h4.hide-for-small Header
          %hr/
          %h5.subheader Fusce ullamcorper mauris in eros dignissim molestie posuere felis blandit. Aliquam erat volutpat. Mauris ultricies posuere vehicula. Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros. Pellentesque consectetur tempus mi iaculis bibendum. Ut vel dolor sed eros tincidunt volutpat ac eget leo.
        .row
          .large-6.small-6.columns
            .panel
              %h5 Header
              %h6.subheader Praesent placerat dui tincidunt elit suscipit sed.
              %a.small.button{:href => "#"} BUTTON TIME!
          .large-6.small-6.columns
            .panel
              %h5 Header
              %h6.subheader Praesent placerat dui tincidunt elit suscipit sed.
              %a.small.button{:href => "#"} BUTTON TIME!
    / End Header Content
    / Search Bar
    .row
      .large-12.columns
        .radius.panel
          %form
            .row.collapse
              .large-10.small-8.columns
                %input{:type => "text"}/
              .large-2.small-3.columns
                %a.postfix.button.expand{:href => "#"} Search
    / End Search Bar
    / Thumbnails
    .row
      .large-12.show-for-small.columns
        %h3 Header
        %hr/
      .large-3.small-6.columns
        %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
        .panel
          %p Description
      .large-3.small-6.columns
        %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
        .panel
          %p Description
      .large-3.small-6.columns
        %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
        .panel
          %p Description
      .large-3.small-6.columns
        %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
        .panel
          %p Description
    / End Thumbnails
    / Footer
    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-6.columns
            %p &copy; Copyright no one at all. Go to town.
          .large-6.columns
            %ul.inline-list.right
              %li
                %a{:href => "#"} Link 1
              %li
                %a{:href => "#"} Link 2
              %li
                %a{:href => "#"} Link 3
              %li
                %a{:href => "#"} Link 4
    / End Footer
%hr
%h3{style:'color:orange;text-align:center;'}store.html.haml
%hr/
.row
  .large-12.columns
    / Navigation
    .row
      .large-12.columns
        %nav.top-bar
          %ul.title-area
            / Title Area
            %li.name
              %h1
                %a{:href => "#"}
                  Top Bar Title
            %li.toggle-topbar.menu-icon
              %a{:href => "#"}
                %span menu
          %section.top-bar-section
            / Right Nav Section
            %ul.right
              %li.divider
              %li.has-dropdown
                %a{:href => "#"} Main Item 1
                %ul.dropdown
                  %li
                    %label Section Name
                  %li.has-dropdown
                    %a{:href => "#"} Has Dropdown, Level 1
                    %ul.dropdown
                      %li
                        %a{:href => "#"} Dropdown Options
                      %li
                        %a{:href => "#"} Dropdown Options
                      %li
                        %a{:href => "#"} Level 2
                      %li
                        %a{:href => "#"} Subdropdown Option
                      %li
                        %a{:href => "#"} Subdropdown Option
                      %li
                        %a{:href => "#"} Subdropdown Option
                  %li
                    %a{:href => "#"} Dropdown Option
                  %li
                    %a{:href => "#"} Dropdown Option
                  %li.divider
                  %li
                    %label Section Name
                  %li
                    %a{:href => "#"} Dropdown Option
                  %li
                    %a{:href => "#"} Dropdown Option
                  %li
                    %a{:href => "#"} Dropdown Option
                  %li.divider
                  %li
                    %a{:href => "#"} See all &rarr;
              %li.divider
              %li
                %a{:href => "#"} Main Item 2
              %li.divider
              %li.has-dropdown
                %a{:href => "#"} Main Item 3
                %ul.dropdown
                  %li
                    %a{:href => "#"} Dropdown Option
                  %li
                    %a{:href => "#"} Dropdown Option
                  %li
                    %a{:href => "#"} Dropdown Option
                  %li.divider
                  %li
                    %a{:href => "#"} See all &rarr;
        / End Top Bar
    / End Navigation
    .row
      / Side Bar
      .large-4.small-12.columns
        %img{:src => "http://placehold.it/500x500&text=Logo"}/
        .hide-for-small.panel
          %h3 Header
          %h5.subheader
            Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
        %a{:href => "#"}
        .panel.callout.radius
          %h6 99&nbsp; items in your cart
      / End Side Bar
      / Thumbnails
      .large-8.columns
        .row
          .large-4.small-6.columns
            %img{:src => "http://placehold.it/1000x1000&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
          .large-4.small-6.columns
            %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
          .large-4.small-6.columns
            %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
          .large-4.small-6.columns
            %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
          .large-4.small-6.columns
            %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
          .large-4.small-6.columns
            %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
        / End Thumbnails
        / Managed By
        .row
          .large-12.columns
            .panel
              .row
                .large-2.small-6.columns
                  %img{:src => "http://placehold.it/300x300&text=Site Owner"}/
                .large-10.small-6.columns
                  %strong This Site Is Managed By
                  %hr/
                  Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
          / End Managed By
    / Footer
    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-6.columns
            %p &copy; Copyright no one at all. Go to town.
          .large-6.columns
            %ul.inline-list.right
              %li
                %a{:href => "#"} Link 1
              %li
                %a{:href => "#"} Link 2
              %li
                %a{:href => "#"} Link 3
              %li
                %a{:href => "#"} Link 4
    / End Footer
%hr/
%h3{style:'color:orange;text-align:center;'}workspace.html.haml
%hr/
.row
  .large-12.columns
    / Navigation
    %nav.top-bar
      %ul.title-area
        / Title Area
        %li.name
          %h1
            %a{:href => "#"}
              Top Bar Title
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span menu
      %section.top-bar-section
        %ul.left
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
        %ul.right
          %li.search
            %form
              %input{:type => "search"}/
          %li.has-button
            %a.small.button{:href => "#"} Search
    / End Navigation
.row
  .large-12.columns
    / Desktop Slider
    .hide-for-small
      #featured
        %img{:alt => "slide image", :src => "http://placehold.it/1000x400&text=Slide Image"}/
        /
          <img src="http://placehold.it/1000x400&amp;text=Slide Image" alt="slide image">
          <img src="http://placehold.it/1000x400&amp;text=Slide Image" alt="slide image">
    / End Desktop Slider
    / Mobile Header
    .row
      .small-12.show-for-small
        %br/
        %img{:src => "http://placehold.it/1000x600&text=For Small Screens"}/
    / End Mobile Header
%br/
.row
  .large-12.columns
    .row
      / Thumbnails
      .large-3.small-6.columns
        %img{:src => "http://placehold.it/250x250&text=Thumbnail"}/
        %h6.panel Description
      .large-3.small-6.columns
        %img{:src => "http://placehold.it/250x250&text=Thumbnail"}/
        %h6.panel Description
      .large-3.small-6.columns
        %img{:src => "http://placehold.it/250x250&text=Thumbnail"}/
        %h6.panel Description
      .large-3.small-6.columns
        %img{:src => "http://placehold.it/250x250&text=Thumbnail"}/
        %h6.panel Description
      / End Thumbnails
.row
  .large-12.columns
    .row
      / Content
      .large-8.columns
        .panel.radius
          .row
            .large-6.small-6.columns
              %h4 Header
              %hr/
              %h5.subheader
                Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
              .show-for-small{:align => "center"}
                %a.small.radius.button{:href => "#"} Call To Action!
                %br/
                %a.small.radius.button{:href => "#"} Call To Action!
            .large-6.small-6.columns
              %p
                Suspendisse ultrices ornare tempor. Aenean eget ultricies libero. Phasellus non ipsum eros. Vivamus at dignissim massa. Aenean dolor libero, blandit quis interdum et, malesuada nec ligula. Nullam erat erat, eleifend sed pulvinar ac. Suspendisse ultrices ornare tempor. Aenean eget ultricies libero.
      .large-4.columns.hide-for-small
        %h4 Get In Touch!
        %hr/
        %a{:href => "#"}
        .panel.radius.callout{:align => "center"}
          %strong Call To Action!
        %a{:href => "#"}
        .panel.radius.callout{:align => "center"}
          %strong Call To Action!
      / End Content
/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p &copy; Copyright no one at all. Go to town.
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{:href => "#"} Link 1
          %li
            %a{:href => "#"} Link 2
          %li
            %a{:href => "#"} Link 3
          %li
            %a{:href => "#"} Link 4
