.row
  .large-12.columns
    / Navigation
    #banner
      =image_tag('banner.jpg')
    .row
      .large-12.columns
        %nav.top-bar{role: 'navigation', 'data-topbar'=>'', 'data-options'=>"is_hover: false"}
          %ul.title-area
            / Title Area
            %li.name
              %h1
                %a{:href => "/"}
                  #{APP_CONFIG[:store_name]}
            %li.toggle-topbar.menu-icon
              %a{:href => "#"}
                %span menu
          %section.top-bar-section
            / Right Nav Section
            %ul.right
              %li.divider
              -if user_signed_in?
                %li
                  = link_to('Sign Out', destroy_user_session_path, :method => 'delete')
              -else
                %li
                  = link_to('Sign in', new_user_session_path)#
                %li
                  = link_to('Sign up', new_user_registration_path)
        / End Top Bar
      / End Navigation
    -if notice
      .alert-box.success
        =notice
    -if alert
      .alert-box.alert
        =alert